body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}

.weather-container {
  background: #f9f7fe;
  max-width: 600px;
  margin: 48px auto;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
}
header {
  border-radius: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.input-weather-element {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}
.weather-element-submit {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
main {
  padding: 30px 0;
}

.weather-container-background {
  display: flex;
  justify-content: space-between;
}
.current-weather-details strong {
  color: red;
}
.current-weather-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.weather-city-name {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
